---
import type { ImageMetadata } from "astro";
import Image from "astro/components/Image.astro";
import { Icon } from "astro-icon/components";

interface Props {
  name: string;
  icon: String;
  movement: String;
}

const { name, icon, movement } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/*.{jpeg,jpg,png,gif}",
);

const imagePath = `/src/assets/images/${icon}.png`;
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "/src/assets/images/*.{jpeg,jpg,png,gif}"`,
  );
---

<div class="piece">
  <Image
    src={images[imagePath]()}
    alt=`${name}`
    width={64}
  />
  <div class="piece__text">
    <h3>{name}</h3>
    <p>Movement: {movement}</p>
  </div>

  <style lang="scss">
    [data-icon] {
      width: 24px;
    }

    .piece {
      display: flex;
      gap: 2rem;

      &__text {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
      }
    }
  </style>
</div>
